<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico">
    <title>DateKelly</title>

    <!--CSS-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">


</head>
<body>

    <header> 
        <nav class="navbar navbar-expand-md navbar-dark bg-pink pb-0 pt-0 shadow-sm">
            <div class="d-flex w-50">
                <a class="navbar-brand mr-0" href="#"><img src="./img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Ladies <img src="./img/gender-icon.png" alt="icon"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search <img src="./img/search-icon.png" alt="icon"></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clubs/Agencies <img src="./img/club-icon.png" alt="icon" class="m-0"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews <img src="./img/review-icon.png" alt="icon" class="m-0"></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-text small text-truncate mt-1 w-50 login-right">
                <div class="d-flex float-right">
                    <a href="" class="nav-right-sec">Login <span><img src="./img/im1.jpg"></span></a>
                    <div class="language-drop">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>English</option>
                            <option>France</option>
                            <option>Brazil</option>
                        </select>
                      </div>
                </div>
            </div>
        </nav>
    </header><!--header-part-->

    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center m-0">
                <div class="col-12 ">
                    <h4 class="mb-4 admin-title">My account - Hello <span class="textpink">Alexandra!</span></h4>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-md-3">
                    <div class="leftpart bg-light-pink">
                        <img src="./img/ladies_1.jpg" class="ledies_pic">
                        <ul>
                            <li><a href="">Verify my account</a></li>
                            <li><a href="">Premium Pictures</a></li>
                            <li><a href="">Upgrade advertisement</a></li>
                            <li><a href="">View advertisement</a></li>
                            <li><a href="">Edit</a></li>
                            <li><a href="">Messages</a></li>
                            <li><a href="">Reviews</a></li>
                            <li><a href="" class="active">Buy DateKelly coins</a></li>
                            <li><a href="">Received Tips</a></li>
                            <li><a href="">My purchases</a></li>
                            <li><a href="">Delete my account</a></li>
                            <li><a href="">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-7 p-0 pl-2 pl-md-5 rightpart advertisment">
                    <div class="adv-title">
                        <h4 class="mb-3">Creat New Premium Pictures</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a <span class="textpink">type specimen book</span>.
                        </p>
                    </div>
                    <form>
                        <div class="row m-0 mt-5 creat_new_premium">
                            <div class="col-12 col-md-8 p-0">
                                <div class="form-group d-flex">
                                    <label class="col-sm-4 p-0 pt-2">1) Select theme : </label>
                                    <div class="col-sm-4 p-0">
                                        <select class="form-control">
                                            <option>Sexy</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="pic-upload col-12 p-0">
                                <label class="col-sm-12 p-0">2) Select Your Premium pictures : </label>
                                <small class="text-muted">
                                    Tip : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </small>
                                <div class="pl-0 pl-md-4 mt-4">
                                    <div class="row m-0 justify-content-start">
                                        <div class="col-12 col-md-2 p-0"><h6>Photo 1</h6></div>
                                        <div class="chosefile col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <input type="file" id="real-file" hidden="hidden">
                                            <button type="button" id="custom-button">Select file</button>
                                        </div>
                                        <div class="col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <button type="submit" class="btn btn-upload mx-sm-2 mb-2">Upload now</button>
                                        </div>
                                    </div>
                                    <div class="row m-0 justify-content-start">
                                        <div class="col-12 col-md-2 p-0">
                                            <h6>Photo 2</h6>
                                        </div>
                                        <div class="chosefile col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <input type="file" id="real-file" hidden="hidden">
                                            <button type="button" id="custom-button">Select file</button>
                                        </div>
                                        <div class="col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <button type="submit" class="btn btn-upload mx-sm-2 mb-2">Upload now</button>
                                        </div>
                                    </div>
                                    <div class="row m-0 justify-content-start">
                                        <div class="col-12 col-md-2 p-0">
                                            <h6>Photo 3</h6>
                                        </div>
                                        <div class="chosefile col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <input type="file" id="real-file" hidden="hidden">
                                            <button type="button" id="custom-button">Select file</button>
                                        </div>
                                        <div class="col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <button type="submit" class="btn btn-upload mx-sm-2 mb-2">Upload now</button>
                                        </div>
                                    </div>
                                    <div class="row m-0 justify-content-start">
                                        <div class="col-12 col-md-2 p-0">
                                            <h6>Video</h6>
                                        </div>
                                        <div class="chosefile col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <input type="file" id="real-file" hidden="hidden">
                                            <button type="button" id="custom-button">Select file</button>
                                        </div>
                                        <div class="col-6 col-md-3 p-0 mt-md-0 mt-3">
                                            <button type="submit" class="btn btn-upload mx-sm-2 mb-2">Upload now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <label>3) Extra information about your premium pictures : </label>
                                    <textarea class="form-control" rows="3" placeholder="Extra information"></textarea>
                                </div>
                                <div class="form-group DKCoinblance col-12 col-md-8 p-0">
                                    <label>4) Select Your price DateKelly Coin : </label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend ">
                                          <span class="input-group-text bg-dark-blue"><i class="fas fa-donate mr-1"></i> DK </span>
                                        </div>
                                        <select class="form-control coinbalance pl-5">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                          </select>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-white text-blue datText">DateKelly Coin</span>
                                        </div>
                                    </div>
                                    <small class="text-muted">
                                        Tip : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    </small>
                                </div>
                                <div class="mt-3">
                                    <div class="form d-flex">
                                        <span>5) Agree with our User Agreement & Terms &nbsp;</span>
                                        <input type="checkbox" id="check">
                                        <label for="check" style="--d: 25px">
                                          <svg viewBox="-6,0,46,48">
                                            <path d="M5 20 L 10 33 L 28 17"></path>
                                          </svg>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <label>6) Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </label>
                                </div>
                            </div>
                            <div class="float-left">
                                <button class="btn btn-upload">Post Premium Pictures</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    
    <footer class="bg-pink pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a class="mr-0" href="#"><img src="./img/logo.png" alt=""></a>
                    <p>DateKelly.com</p>
                </div>
                <div class="col-12 col-md-2">
                   <ul>
                       <li><a href="">Ladies</a></li>
                       <li><a href="">Search</a></li>
                       <li><a href="">Clubs/Agencies</a></li>
                       <li><a href="">Reviews</a></li>
                   </ul> 
                </div>
                <div class="col-12 col-md-2">
                    <ul>
                        <li><a href="">Login / Register</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href=""> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--footer-part-->
    
    <!--Script-->
		
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="js/popper.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/aos.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>