<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico">
    <title>DateKelly</title>

    <!--CSS-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">


</head>
<body>
    <div class="transaction_model">
        <div class="tr-mddel-body">
            <div class="tr-m-header bg-pink p-2">
                <img src="./img/logo.png">
                <h6 class="text-white text-right float-right pt-3">Transaction</h6>
            </div>
            <div class="tr-m-body p-4">
                <div class="row m-0">
                    <div class="col-md-6 col-12 tr-m-left">
                        <div>
                            <p class="mb-1">Member : <span class="text-blue">Kiss Kiss BangBang</span></p>
                            <p>Your Balance : <span class="text-blue">149 Kelly coins</span></p>
                        </div>
                        <div class="pt-3">
                            <p class="mb-3"><b>Transaction details : </b></p>
                            <p class="subyext">
                                <span class="d-block">Unlock Premium Pictures</span>
                                <span class="d-block">Alexandra - Amsterdam</span>
                                <span class="d-block">08/10/2020</span>
                                <span class="d-block">Romantic</span>
                            </p>
                            <p>
                                Price : <span>3 Kelly coins</span>
                            </p>
                            <p class="subyext">
                                By approving this transaction, you agree with the  <a href="#" class="textpink">terms & conditions.</a>
                            </p>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-upload">BUY NOW</button>
                            <a href="#" class="ml-2 text-dark"><b>Cancle </b></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 p-0 pl-md-2 pr-md-0 mt-4 mt-md-0">
                        <div class="tr-m-right">
                            <div>
                                <p class="mb-1">Member : <span class="text-blue">Kiss Kiss BangBang</span></p>
                                <p>Your Balance : <span class="text-blue">149 Kelly coins</span></p>
                            </div>
                            <div class="pt-1">
                                <h6 class="textpink">Transaction Completed </h6>
                            </div>
                            <div class="pt-3">
                                <p class="mb-3"><b>Transaction details : </b></p>
                                <p class="subyext">
                                    <span class="d-block">Unlock Premium Pictures</span>
                                    <span class="d-block">Alexandra - Amsterdam</span>
                                    <span class="d-block">08/10/2020</span>
                                    <span class="d-block">Romantic</span>
                                </p>
                                <p>
                                    Price : <span>3 Kelly coins</span>
                                </p>
                                <p class="subyext">
                                    A copy of this transaction is send to your e-mail and can also be found in your   <a href="#" class="textpink">Account</a>
                                </p>
                                <p class="mt-4"><a href="#" class="textpink"><b>Close Window</b></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end_Transaction_complite_Popup -->

    <div class="transaction_model d-none">
        <div class="tr-mddel-body">
            <div class="tr-m-header bg-pink p-2">
                <img src="./img/logo.png">
                <h6 class="text-white text-right float-right pt-3">Transaction</h6>
            </div>
            <div class="tr-m-body p-4">
                <div class="row m-0">
                    <div class="col-md-6 col-12 tr-m-left">
                        <div>
                            <p class="mb-1">Member : <span class="text-blue">Kiss Kiss BangBang</span></p>
                            <p>Your Balance : <span class="text-blue">149 Kelly coins</span></p>
                        </div>
                        <div class="pt-3">
                            <p class="mb-3"><b>Transaction details : </b></p>
                            <p class="subyext">
                                <span class="d-block">Unlock Premium Pictures</span>
                                <span class="d-block">Alexandra - Amsterdam</span>
                                <span class="d-block">08/10/2020</span>
                                <span class="d-block">Romantic</span>
                            </p>
                            <p>
                                Price : <span>3 Kelly coins</span>
                            </p>
                            <p class="subyext">
                                By approving this transaction, you agree with the  <a href="#" class="textpink">terms & conditions.</a>
                            </p>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-upload">BUY NOW</button>
                            <a href="#" class="ml-2 text-dark"><b>Cancle </b></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 p-0 pl-md-2 pr-md-0 mt-4 mt-md-0">
                        <div class="tr-m-right">
                            <div>
                                <p class="mb-1">Member : <span class="text-blue">Kiss Kiss BangBang</span></p>
                                <p>Your Balance : <span class="text-blue">149 Kelly coins</span></p>
                            </div>
                            <div class="pt-1">
                                <h6 class="textpink">
                                    Transaction failed 
                                    <span class="d-block">you don't have enough kelly coin</span>
                                </h6>
                            </div>
                            <div class="pt-3 buykelly-coin">
                                <p><b>Kelly Coins : </b></p>
                                <table class="table table-sm mb-0">
                                    <tr>
                                        <td>20 Coins</td>
                                        <td>&dollar; 15,-</td>
                                    </tr>
                                    <tr>
                                        <td>50 Coins</td>
                                        <td>&dollar; 28,-</td>
                                    </tr>
                                    <tr>
                                        <td>100 Coins</td>
                                        <td>&dollar; 52,-</td>
                                    </tr>
                                    <tr>
                                        <td>200 Coins</td>
                                        <td>&dollar; 100,-</td>
                                    </tr>
                                    <tr>
                                        <td>400 Coins</td>
                                        <td>&dollar; 185,-</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-upload">BUY NOW</button>
                                <a href="#" class="ml-2 text-dark"><b>Cancle </b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end_Transaction_faild_Popup -->


    <header> 
        <nav class="navbar navbar-expand-md navbar-dark bg-pink pb-0 pt-0 shadow-sm">
            <div class="d-flex w-50">
                <a class="navbar-brand mr-0" href="#"><img src="./img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Ladies <img src="./img/gender-icon.png" alt="icon"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search <img src="./img/search-icon.png" alt="icon"></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clubs/Agencies <img src="./img/club-icon.png" alt="icon" class="m-0"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews <img src="./img/review-icon.png" alt="icon" class="m-0"></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-text small text-truncate mt-1 w-50 login-right">
                <div class="d-flex float-right">
                    <a href="" class="nav-right-sec">Login <span><img src="./img/im1.jpg"></span></a>
                    <div class="language-drop">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>English</option>
                            <option>France</option>
                            <option>Brazil</option>
                        </select>
                      </div>
                </div>
            </div>
        </nav>
    </header><!--header-part-->
    <section class="position-relative">
        <div class="owl-carousel banner-pic">
            <div class="item" data-hash="zero">
              <img src="./img/women-1.jpg">
            </div>
            <div class="item">
                <img src="./img/ladies_1.jpg">
            </div>
            <div class="item" data-hash="three">
                <img src="./img/im1.jpg">
            </div>
            <div class="item">
                <img src="./img/women-1.jpg">
            </div>
            <div class="item" data-hash="five">
                <img src="./img/ladies_1.jpg">
            </div>
            <div class="item">
                <img src="./img/im1.jpg">
            </div>
            <div class="item" data-hash="seven">
                <img src="./img/ladies_1.jpg">
            </div>
            <div class="item" data-hash="ten">
                <img src="./img/women-1.jpg">
            </div>
        </div>
        <div class="image-sl-text">
            <div class="container">
                <div class="row m-0">
                    <ul>
                        <li>Alexandra</li>
                        <li>9.5 <i class="fas fa-star"></i></li>
                        <li>2.258 <i class="fas fa-heart"></i></li>
                        <li>26 <img src="./img/camera_icon.png" class="ml-1"></li>
                        <li>Verified <i class="fas fa-check text-green"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--Slider-->

    <section>
        <div class="container mb-5">
            <div class="row m-0 mt-3">
                <div class="col-12 col-md-8 p-0 pr-0 pr-md-5 order-12 order-md-1">
                    <div class="col-12 p-0 mb-4 d-md-flex">
                        <div class="col-12 col-md-6 text-left p-0">
                            <h5>My Premium Pictures</h5>
                        </div>
                        <div class="col-12 col-md-6 text-right p-0 mt-md-0 mt-4">
                            <h6>
                                <a href="#" class="p-2 textpink">Back to my Main Profile <i class="fas fa-chevron-right ml-1 pt-1"></i></a>
                            </h6>
                        </div>
                    </div><!--title-->

                    <div class="row m-0">
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-1.jpg" class="card-img-top" alt="...">
                                    <div class="unlock">
                                        <img src="./img/unlock-icon.png">
                                        <h6>Unlock</h6>
                                    </div>
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-1.jpg" class="card-img-top" alt="...">
                                    <div class="unlock">
                                        <img src="./img/unlock-icon.png">
                                        <h6>Unlock</h6>
                                    </div>
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-1.jpg" class="card-img-top" alt="...">
                                    <div class="unlock">
                                        <img src="./img/unlock-icon.png">
                                        <h6>Unlock</h6>
                                    </div>
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-3.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-4.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-1.jpg" class="card-img-top" alt="...">
                                    <div class="unlock">
                                        <img src="./img/unlock-icon.png">
                                        <h6>Unlock</h6>
                                    </div>
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 plr mb-2 premium-p-t">
                            <div class="card border-0 text-center">
                                <div class="position-relative overflow-hidden">
                                    <img src="./img/gl-1.jpg" class="card-img-top" alt="...">
                                    <div class="unlock">
                                        <img src="./img/unlock-icon.png">
                                        <h6>Unlock</h6>
                                    </div>
                                </div>
                                <div class="card-body p-1">
                                    <p class="card-text">
                                        08/12/2020<br/>
                                        3x<br/>
                                        ‘Romantic’
                                    </p>
                                    <p class="card-text">
                                       Unlocked : <span> 120x</span> <br/>
                                       Price : <span> 3 coins</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--left-part-->

                <div class="col-12 col-md-3 ml-auto adv-right p-0 order-1 order-md-12 mb-4 mb-md-0" >
                    <div class="bg-light-pink p-2 mb-2 text-center">
                        <h6>
                            Amsterdam
                            <small class="d-block"> Keizersgracht</small>
                        </h6>
                        <p>
                            <span class="d-block mb-0 mt-3">You can visit me - <b>Private visit</b></span>
                            <span class="d-block">I will visit you - <b>Escort</b></span>
                        </p>
                    </div>
                    <div class="row m-0 bg-light-pink mb-2">
                        <div class="col-md-6 col-12 call-adv-r">
                            <h6>06 14 234 678</h6>
                        </div>
                        <div class="col-md-6 col-12 call-adv-r border-right-0">
                            <p class="mb-0"><img src="./img/adv_chat-icon.png"> <b>Message</b></p>
                        </div>
                        <div class="col-md-6 col-12 call-adv-r">
                            <p class="mb-0"><img src="./img/adv_call-icon.png"> <b>Call Me</b></p>
                        </div>
                        <div class="col-md-6 col-12 call-adv-r border-right-0">
                            <p class="mb-0"><img src="./img/whatsap_icon.png"> <b>Whatsapp</b></p>
                        </div>
                    </div>
                    <div class="lady-data bg-light-pink mb-2">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td>Sex</td>
                                <th>Female</th>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <th>22</th>
                            </tr>
                            <tr>
                                <td>Length</td>
                                <th>170 cm</th>
                            </tr>
                            <tr>
                                <td>Cup size</td>
                                <th>B</th>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <th>50kg</th>
                            </tr>
                            <tr>
                                <td>Body size</td>
                                <th>Slim</th>
                            </tr>
                            <tr>
                                <td>Descent</td>
                                <th>Bulgarian</th>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td><b>English,<br/> 
                                    Bulgarian, <br/> 
                                    Italian</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="lady-data bg-light-pink mb-2">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td>15 min</td>
                                <td><b>&dollar; 50 -</b></td>
                            </tr>
                            <tr>
                                <td>30 min</td>
                                <td><b>&dollar; 100 -</b></td>
                            </tr>
                            <tr>
                                <td>1 hr.</td>
                                <td><b>&dollar; 130 -</b></td>
                            </tr>
                            <tr>
                                <td>2 hr.</td>
                                <td><b>&dollar; 250 -</b></td>
                            </tr>
                            <tr>
                                <td>Night</td>
                                <td><b>&dollar; 600 -</b></td>
                            </tr>
                            <tr>
                                <td>Escort extra<br/>Other info</td>
                                <td><b>&dollar; 50 -</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="bg-light-pink p-2 pt-3 pb-3">
                        <p class="mb-0"><b>Alexandra</b> is a member since <b>05/Dec/2020</b></p>
                            <p class="mb-0">Views on her profile &nbsp; <b>23.548</b></p>
                            <p class="mb-0">Last time online &nbsp; <b>12/Apr/2021</b></p>
                    </div>
                    <div class="row m-0 text-center">
                        <div class="col-6 bg-pink p-1"> 
                            <h6 class="text-white alart-adv-text"><i class="fas fa-heart"></i> Love</h6>
                        </div>
                        <div class="col-6 bg-warning p-1">
                            <h6 class="text-white alart-adv-text"><i class="fas fa-exclamation-triangle"></i> Report </h6>
                        </div>
                    </div>
                </div><!--right-part-->
            </div>
        </div>
    </section><!--advertisement_lady_body-->

    
    <footer class="bg-pink pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a class="mr-0" href="#"><img src="./img/logo.png" alt=""></a>
                    <p>DateKelly.com</p>
                </div>
                <div class="col-12 col-md-2">
                   <ul>
                       <li><a href="">Ladies</a></li>
                       <li><a href="">Search</a></li>
                       <li><a href="">Clubs/Agencies</a></li>
                       <li><a href="">Reviews</a></li>
                   </ul> 
                </div>
                <div class="col-12 col-md-2">
                    <ul>
                        <li><a href="">Login / Register</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href=""> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--footer-part-->
    
    <!--Script-->
		
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="js/popper.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/aos.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>