

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: 320px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 480px){

}
@media (max-width: 640px){
	.aprovial-table tr{
      display: block;
   }
   .aprovial-table tr td{
      display: block;
   }
   
   .booking_quote .btn-upload{
      width: 128px;
      font-size: 13px;
   }
   .booking_quote .form-control{
      height: 52px;
   }
}
@media (max-width: 768px){
	.language-drop{
      display: none;
   }
   .navbar-brand img{
      width: 153px;
   }
   .image-sl-text{
      left: 0;
   }
   .creat_new_premium .DKCoinblance .datText{
      width: inherit;
   }
   .w-545{
      margin-top: 26px;
    }
    .booking_quote{
      margin-top: 65px;
    }
}
@media (max-width: 860px) {
   .navbar-toggler{
      position: absolute;
      right: 0;
      top: 0;
      width: 48%;
      z-index: 11;
      background: #e91482;
      border-radius: 0;
      text-align: right;
      height: 60px;
      border: 0;
   }
   header .w-50{
      width: inherit !important;
   }
   .home-lefft-nav li a{
      display: none;
   }
   .home-lefft-nav li{
      float: inherit !important;
   }
   .review h6{
      font-size: 12px;
      display: flex;
   }
   footer{
      margin-top: 30px;
   }
   .leftpart .ledies_pic{
      width: 100%;
      height: auto;
   }
   .leftpart{
      margin-bottom: 30px;
   }
   .adv-title h4{
      font-size: 18px;
      font-weight: 600;
   }
   .tr-mddel-body {
      width: 100%;
  }
  .tr-m-body{
   padding: 15px !important;
   height: 500px;
   overflow-y: auto;
   overflow-x: hidden;
  }
  .w-545{
   width: 100%;
   margin-left: 0px;
 }
 .booking_quote{
   margin-left: 0;
 }
   .booking_quote{
      width: 100% !important;
   }
   .lady_manage_bottom .form-control-lg{
      height: inherit;
   }
}